In [ ]:
airs = [
    'air_interpolate_',
    'air_knn_imputer_',
    'air_interative_imputer_',
]
weathers = [
    'weather_interpolate',
    'weather_knn_imputer',
    'weather_interative_imputer',
]
dfs = {}
for i in range(3):
    for j in range(3):
        df = pd.read_csv(airs[i] + weathers[j] + '.csv')
        dfs[airs[i] + weathers[j]] = df

# 안녕하세요^^ 
# AIVLE 미니 프로젝트에 오신 여러분을 환영합니다.
* 본 과정에서는 실제 사례와 데이터를 기반으로 문제를 해결하는 전체 과정을 자기 주도형 실습으로 진행해볼 예정입니다.
* 앞선 교육과정을 정리하는 마음과 지금까지 배운 내용을 바탕으로 문제 해결을 해볼게요!
* 미니 프로젝트를 통한 문제 해결 과정 'A에서 Z까지', 지금부터 시작합니다!

---

In [1]:
# 필요 라이브러리부터 설치할께요.
!pip install pandas seaborn

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: seaborn in c:\users\user\anaconda3\lib\site-packages (0.11.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: matplotlib>=2.2 in c:\users\user\anaconda3\lib\site-packages (from seaborn) (3.3.4)
Requirement already satisfied: scipy>=1.0 in c:\users\user\anaconda3\lib\site-packages (from seaborn) (1.6.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (8.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (0.10.0)

---

# (실습준비) 데이터 불러오기부터

In [247]:
import pandas as pd

# 학습 데이터 로딩
air_21 = pd.read_csv("air_2021.csv", sep=',', index_col = 0, encoding = 'utf-8' )
air_22 = pd.read_csv("air_2022.csv", sep=',', index_col = 0, encoding = 'utf-8' )
weather_21 = pd.read_csv("weather_2021.csv", sep = ',', encoding='cp949')
weather_22 = pd.read_csv("weather_2022.csv", sep = ',', encoding='cp949')

---

In [ ]:
# 참조
# NaN 조치 -> 2. KNN imputer 사용 (어제 프로젝트에서 성능이 좋았음)
from sklearn.impute import KNNImputer
knn_imputer = KNNImputer()
weather_21_22_knn_imputer = knn_imputer.fit_transform(weather_21_22)
weather_21_22_knn_imputer = pd.DataFrame(weather_21_22_knn_imputer, 
            columns=['기온(°C)', '강수량(mm)', '풍속(m/s)', '풍향(16방위)', '습도(%)', '증기압(hPa)',
           '이슬점온도(°C)', '현지기압(hPa)', '해면기압(hPa)', '일조(hr)', '일사(MJ/m2)', '적설(cm)',
           '3시간신적설(cm)', '전운량(10분위)', '중하층운량(10분위)', '최저운고(100m )', '시정(10m)',
           '지면온도(°C)', '5cm 지중온도(°C)', '10cm 지중온도(°C)', '20cm 지중온도(°C)',
           '30cm 지중온도(°C)', 'Year', 'Month', 'Day', 'Hour', 'index'])

# 1. 이상치/결측치 처리

#### [실습문제1] 미세먼지 데이터 결측치 처리
* 미세먼지 데이터의 결측치를 확인하고 결측치가 존재한다면 처리해주세요.


* 앞서 데이터 불러오기 및 분석 단계에서 확인한 불필요한 변수에 대해 제거 해 주세요.

In [248]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
air_21.isna().sum()

지역         0
망          0
측정소코드      0
측정소명       0
측정일시       0
SO2      112
CO        80
O3        97
NO2       80
PM10     105
PM25      97
주소         0
dtype: int64

In [249]:
drop_list = ['측정일시','지역','망','측정소코드','측정소명','주소']
air_201 = air_21.drop(drop_list,axis=1)
air_202 = air_22.drop(drop_list,axis=1)

In [250]:
air_202.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2160 entries, 0 to 2159
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SO2     2139 non-null   float64
 1   CO      2139 non-null   float64
 2   O3      2139 non-null   float64
 3   NO2     2139 non-null   float64
 4   PM10    2122 non-null   float64
 5   PM25    2135 non-null   float64
dtypes: float64(6)
memory usage: 118.1 KB

In [251]:
from sklearn.impute import KNNImputer
from sklearn.impute import SimpleImputer

In [252]:
imputer = KNNImputer()
imputer.fit(air_201)

KNNImputer()

In [253]:
x = imputer.transform(air_201)

In [254]:
air_201 = pd.DataFrame(x, columns=air_201.columns, index=list(air_201.index.values))

In [255]:
imputer = KNNImputer()
imputer.fit(air_202)
x = imputer.transform(air_202)
air_202 = pd.DataFrame(x, columns=air_202.columns, index=list(air_202.index.values))

In [256]:
print(air_201.isna().sum())
print(air_202.isna().sum())

SO2     0
CO      0
O3      0
NO2     0
PM10    0
PM25    0
dtype: int64
SO2     0
CO      0
O3      0
NO2     0
PM10    0
PM25    0
dtype: int64

#### [실습문제2] 날씨 데이터 결측치 처리
* 날씨 데이터의 결측치를 확인하고 결측치가 존재한다면 처리해주세요.

* '강우량'을 어떻게 해야할까요?

In [257]:
drop_list=['일시','운형(운형약어)','지점','지점명','기온 QC플래그','풍속 QC플래그','풍향 QC플래그','습도 QC플래그','현지기압 QC플래그','해면기압 QC플래그','해면기압 QC플래그','지면상태(지면상태코드)','지면온도 QC플래그' ]
weather_201 = weather_21.drop(drop_list,axis=1)
weather_202 = weather_22.drop(drop_list,axis=1)

In [258]:
weather_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8759 entries, 0 to 8758
Data columns (total 38 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   지점             8759 non-null   int64
 1   지점명            8759 non-null   object
 2   일시             8759 non-null   object
 3   기온(°C)         8759 non-null   float64
 4   기온 QC플래그       0 non-null      float64
 5   강수량(mm)        949 non-null    float64
 6   강수량 QC플래그      1763 non-null   float64
 7   풍속(m/s)        8757 non-null   float64
 8   풍속 QC플래그       2 non-null      float64
 9   풍향(16방위)       8757 non-null   float64
 10  풍향 QC플래그       2 non-null      float64
 11  습도(%)          8759 non-null   int64
 12  습도 QC플래그       0 non-null      float64
 13  증기압(hPa)       8759 non-null   float64
 14  이슬점온도(°C)      8759 non-null   float64
 15  현지기압(hPa)      8759 non-null   float64
 16  현지기압 QC플래그     0 non-null      float64
 17  해면기압(hPa)      8759 non-null   float64
 18  해면기압 QC플래그     0 non-null      float64
 19  일조(hr)         4791 non-null   float64
 20  일조 QC플래그       3968 non-null   float64
 21  일사(MJ/m2)      4791 non-null   float64
 22  일사 QC플래그       3968 non-null   float64
 23  적설(cm)         379 non-null    float64
 24  3시간신적설(cm)     29 non-null     float64
 25  전운량(10분위)      8757 non-null   float64
 26  중하층운량(10분위)    8759 non-null   int64
 27  운형(운형약어)       4947 non-null   object
 28  최저운고(100m )    4547 non-null   float64
 29  시정(10m)        8759 non-null   int64
 30  지면상태(지면상태코드)   0 non-null      float64
 31  현상번호(국내식)      2125 non-null   float64
 32  지면온도(°C)       8754 non-null   float64
 33  지면온도 QC플래그     24 non-null     float64
 34  5cm 지중온도(°C)   8754 non-null   float64
 35  10cm 지중온도(°C)  8754 non-null   float64
 36  20cm 지중온도(°C)  8754 non-null   float64
 37  30cm 지중온도(°C)  8754 non-null   float64
dtypes: float64(31), int64(4), object(3)
memory usage: 2.5+ MB

In [111]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
weather_202['강수량(mm)'] = weather_202['강수량(mm)'].fillna(weather_202['강수량(mm)'].median())
weather_202['강수량 QC플래그'] = weather_202['강수량 QC플래그'].fillna(weather_202['강수량 QC플래그'].median())
weather_202['일조(hr)'] = weather_202['일조(hr)'].fillna(weather_202['일조(hr)'].median())
weather_202['일조 QC플래그'] = weather_202['일조 QC플래그'].fillna(weather_202['일조 QC플래그'].median())
weather_202['일사(MJ/m2)'] = weather_202['일사(MJ/m2)'].fillna(weather_202['일사(MJ/m2)'].median())
weather_202['일사 QC플래그'] = weather_202['일사 QC플래그'].fillna(weather_202['일사 QC플래그'].median())
weather_202['최저운고(100m )'] = weather_202['최저운고(100m )'].fillna(weather_202['최저운고(100m )'].median())
weather_202['현상번호(국내식)'] = weather_202['현상번호(국내식)'].fillna(weather_202['현상번호(국내식)'].median())

In [112]:
weather_202['풍속(m/s)'] = weather_202['풍속(m/s)'].fillna(weather_202['풍속(m/s)'].median())
weather_202['풍향(16방위)'] = weather_202['풍향(16방위)'].fillna(weather_202['풍향(16방위)'].median())
weather_202['전운량(10분위)'] = weather_202['전운량(10분위)'].fillna(weather_202['전운량(10분위)'].median())
weather_202['지면온도(°C)'] = weather_202['지면온도(°C)'].fillna(weather_202['지면온도(°C)'].median())
weather_202['5cm 지중온도(°C)'] = weather_202['5cm 지중온도(°C)'].fillna(weather_202['5cm 지중온도(°C)'].median())
weather_202['10cm 지중온도(°C)'] = weather_202['10cm 지중온도(°C)'].fillna(weather_202['10cm 지중온도(°C)'].median())
weather_202['20cm 지중온도(°C)'] = weather_202['20cm 지중온도(°C)'].fillna(weather_202['20cm 지중온도(°C)'].median())
weather_202['30cm 지중온도(°C)'] = weather_202['30cm 지중온도(°C)'].fillna(weather_202['30cm 지중온도(°C)'].median())

In [260]:
weather_201['강수량(mm)'] = weather_201['강수량(mm)'].fillna(0)
weather_202['강수량(mm)'] = weather_202['강수량(mm)'].fillna(0)

In [261]:
imputer = KNNImputer()
imputer.fit(weather_201)
x = imputer.transform(weather_201)
weather_201 = pd.DataFrame(x, columns=weather_201.columns, index=list(weather_201.index.values))

In [262]:
imputer = KNNImputer()
imputer.fit(weather_202)
x = imputer.transform(weather_202)
weather_202 = pd.DataFrame(x, columns=weather_202.columns, index=list(weather_202.index.values))

In [263]:
weather_202.isna().sum()

기온(°C)           0
강수량(mm)          0
강수량 QC플래그        0
풍속(m/s)          0
풍향(16방위)         0
습도(%)            0
증기압(hPa)         0
이슬점온도(°C)        0
현지기압(hPa)        0
해면기압(hPa)        0
일조(hr)           0
일조 QC플래그         0
일사(MJ/m2)        0
일사 QC플래그         0
적설(cm)           0
3시간신적설(cm)       0
전운량(10분위)        0
중하층운량(10분위)      0
최저운고(100m )      0
시정(10m)          0
현상번호(국내식)        0
지면온도(°C)         0
5cm 지중온도(°C)     0
10cm 지중온도(°C)    0
20cm 지중온도(°C)    0
30cm 지중온도(°C)    0
dtype: int64

#### [실습문제3] air_21, air_22 의 '측정일시'를 활용하여 'time'변수 생성하기


* air_21, air_22 의 '측정일시'를 활용하여 'time'변수 생성


* time 변수를 datatime으로 데이터 타입 변경하기

In [264]:
# air_202['time']= air_22['측정일시'].astype('str')
air_201['time']= air_21['측정일시']-1
air_202['time']= air_22['측정일시']-1

In [201]:
air_201[['time']]

            time
0     2021100100
1     2021100101
2     2021100102
3     2021100103
4     2021100104
...          ...
8755  2021093019
8756  2021093020
8757  2021093021
8758  2021093022
8759  2021093023

[8760 rows x 1 columns]

In [268]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
# df['dt2'] = pd.to_datetime(df['start_date_time'], format='%Y-%m-%d %H:%M', errors='raise')

air_201['time'] = pd.to_datetime(air_201['time'],format='%Y%m%d%H')
air_202['time'] = pd.to_datetime(air_202['time'],format='%Y%m%d%H')

In [266]:
air_21[['time']].tail()

                    time
8755 2021-09-30 19:00:00
8756 2021-09-30 20:00:00
8757 2021-09-30 21:00:00
8758 2021-09-30 22:00:00
8759 2021-09-30 23:00:00

In [269]:
air_202.tail()

        SO2   CO     O3    NO2  PM10  PM25                time
2155  0.002  0.4  0.036  0.017  11.0   8.0 2022-03-31 19:00:00
2156  0.002  0.4  0.032  0.018  10.0   7.0 2022-03-31 20:00:00
2157  0.003  0.3  0.038  0.013  11.0   5.0 2022-03-31 21:00:00
2158  0.003  0.3  0.036  0.015  11.0   5.0 2022-03-31 22:00:00
2159  0.002  0.4  0.033  0.017   9.0   5.0 2022-03-31 23:00:00

#### [실습문제4] weather_21, weather_22 의 '일시'를 활용하여 'time'변수 생성하기


* weather_21, weather_22 의 '측정일시'를 활용하여 'time'변수 생성


* time 변수를 datatime으로 데이터 타입 변경하기

In [161]:
#weather_201['time']= weather_21['일시'].astype('str')
#weather_202['time']= weather_22['일시'].astype('str')

In [271]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

weather_201['time'] = pd.to_datetime(weather_21['일시'])
weather_202['time'] = pd.to_datetime(weather_22['일시'])

In [93]:
#weather_201.sort_values(by='time',ascending=True)

,기온(°C),강수량(mm),강수량 QC플래그,풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),...,중하층운량(10분위),최저운고(100m ),시정(10m),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C),time
0,-8.7,0.06,9.0,2.4,270.0,68.0,2.2,-13.5,1016.4,1027.7,...,0.0,12.8,2000.0,19.8,-6.9,-1.0,-0.8,0.3,1.6,2021010101
1,-9.1,0.06,9.0,1.6,270.0,69.0,2.1,-13.7,1016.2,1027.5,...,0.0,12.8,2000.0,12.4,-7.1,-1.1,-0.8,0.3,1.6,2021010102
2,-9.3,0.06,9.0,1.1,250.0,70.0,2.1,-13.7,1016.8,1028.1,...,0.0,15.2,2000.0,12.4,-7.3,-1.2,-0.9,0.3,1.6,2021010103
3,-9.3,0.14,9.0,0.3,0.0,71.0,2.2,-13.5,1016.2,1027.5,...,0.0,21.8,2000.0,391.8,-7.5,-1.3,-1.0,0.2,1.5,2021010104
4,-9.7,0.06,9.0,1.9,20.0,72.0,2.1,-13.8,1015.6,1026.9,...,0.0,14.6,2000.0,10.8,-7.6,-1.3,-1.0,0.2,1.5,2021010105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,-6.3,0.00,9.0,4.1,320.0,35.0,1.3,-19.2,1021.2,1032.4,...,0.0,36.2,2000.0,12.4,-5.3,-0.6,-0.8,-0.1,1.0,2021123120
8756,-6.7,0.00,9.0,4.8,320.0,36.0,1.3,-19.3,1021.2,1032.4,...,0.0,25.8,2000.0,12.4,-5.7,-0.7,-0.8,-0.1,1.0,2021123121
8757,-7.5,0.00,9.0,3.0,320.0,37.0,1.3,-19.7,1021.8,1033.1,...,0.0,25.8,2000.0,12.4,-6.2,-0.8,-0.9,-0.2,1.0,2021123122
8758,-7.7,0.00,9.0,2.9,320.0,38.0,1.3,-19.5,1021.9,1033.2,...,0.0,25.8,2000.0,12.4,-6.5,-0.9,-0.9,-0.2,1.0,2021123123
8735,-5.5,0.02,9.0,4.4,270.0,43.0,1.7,-16.1,1017.2,1028.3,...,0.0,13.2,2000.0,12.4,-5.2,-0.2,-0.4,0.0,1.2,2021123124

In [272]:
weather_21[['일시']].tail()

                    일시
8754  2021-12-31 19:00
8755  2021-12-31 20:00
8756  2021-12-31 21:00
8757  2021-12-31 22:00
8758  2021-12-31 23:00

In [273]:
weather_201[['time']].tail()

                    time
8754 2021-12-31 19:00:00
8755 2021-12-31 20:00:00
8756 2021-12-31 21:00:00
8757 2021-12-31 22:00:00
8758 2021-12-31 23:00:00

In [288]:
print(weather_201.info())
print(weather_202.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8759 entries, 0 to 8758
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   기온(°C)         8759 non-null   float64
 1   강수량(mm)        8759 non-null   float64
 2   강수량 QC플래그      8759 non-null   float64
 3   풍속(m/s)        8759 non-null   float64
 4   풍향(16방위)       8759 non-null   float64
 5   습도(%)          8759 non-null   float64
 6   증기압(hPa)       8759 non-null   float64
 7   이슬점온도(°C)      8759 non-null   float64
 8   현지기압(hPa)      8759 non-null   float64
 9   해면기압(hPa)      8759 non-null   float64
 10  일조(hr)         8759 non-null   float64
 11  일조 QC플래그       8759 non-null   float64
 12  일사(MJ/m2)      8759 non-null   float64
 13  일사 QC플래그       8759 non-null   float64
 14  전운량(10분위)      8759 non-null   float64
 15  중하층운량(10분위)    8759 non-null   float64
 16  최저운고(100m )    8759 non-null   float64
 17  시정(10m)        8759 non-null   float64
 18  현상번호(국내식)      8759 non-null   float64
 19  지면온도(°C)       8759 non-null   float64
 20  5cm 지중온도(°C)   8759 non-null   float64
 21  10cm 지중온도(°C)  8759 non-null   float64
 22  20cm 지중온도(°C)  8759 non-null   float64
 23  30cm 지중온도(°C)  8759 non-null   float64
 24  time           8759 non-null   object
dtypes: float64(24), object(1)
memory usage: 1.7+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2160 entries, 0 to 2159
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   기온(°C)         2160 non-null   float64
 1   강수량(mm)        2160 non-null   float64
 2   강수량 QC플래그      2160 non-null   float64
 3   풍속(m/s)        2160 non-null   float64
 4   풍향(16방위)       2160 non-null   float64
 5   습도(%)          2160 non-null   float64
 6   증기압(hPa)       2160 non-null   float64
 7   이슬점온도(°C)      2160 non-null   float64
 8   현지기압(hPa)      2160 non-null   float64
 9   해면기압(hPa)      2160 non-null   float64
 10  일조(hr)         2160 non-null   float64
 11  일조 QC플래그       2160 non-null   float64
 12  일사(MJ/m2)      2160 non-null   float64
 13  일사 QC플래그       2160 non-null   float64
 14  전운량(10분위)      2160 non-null   float64
 15  중하층운량(10분위)    2160 non-null   float64
 16  최저운고(100m )    2160 non-null   float64
 17  시정(10m)        2160 non-null   float64
 18  현상번호(국내식)      2160 non-null   float64
 19  지면온도(°C)       2160 non-null   float64
 20  5cm 지중온도(°C)   2160 non-null   float64
 21  10cm 지중온도(°C)  2160 non-null   float64
 22  20cm 지중온도(°C)  2160 non-null   float64
 23  30cm 지중온도(°C)  2160 non-null   float64
 24  time           2160 non-null   object
dtypes: float64(24), object(1)
memory usage: 438.8+ KB
None

---

# 2. 데이터 합치기
* 미세먼지 데이터와 날씨 데이터를 'time' 기준으로 합쳐보겠습니다

#### [실습문제5] 데이터 합치기
* 'df_21','df_22'에 21년도와 22년도의 미세먼지, 날씨 데이터를 합쳐 넣도록 하겠습니다.

In [135]:
#air_201 = air_201.rename(columns={'측정일시':'일시'})
#air_202 = air_202.rename(columns={'측정일시':'일시'})

In [193]:
#참조
''''''from datetime import datetime, timedelta
air_201['time']= air_201['time'].astype('str')
air_202['time']= air_202['time'].astype('str')
for airs in [air_201, air_202]:
    for i in range(len(airs)):
        try:
            airs['time'][i] = pd.to_datetime(airs['time'][i]+'00')
        except:
            airs['time'][i] = pd.to_datetime(pd.to_datetime(airs['time'][i][:-2] + '0000')+ timedelta(days=1))

<ipython-input-193-c9b610a18cb1>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  airs['time'][i] = pd.to_datetime(airs['time'][i]+'00')

In [274]:
# 아래에 실습코드를 작성하고 결과를 확인합니다
# 날짜랑 일자 sort //index column을 time 열로 지정해주시면 된다는 말이었습니다!

df_21 = pd.merge(air_201, weather_201, how='inner', on= 'time')
df_22 = pd.merge(air_202, weather_202, how='inner', on= 'time')

In [179]:
df_21.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8759 entries, 0 to 8758
Data columns (total 33 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SO2            8759 non-null   float64
 1   CO             8759 non-null   float64
 2   O3             8759 non-null   float64
 3   NO2            8759 non-null   float64
 4   PM10           8759 non-null   float64
 5   PM25           8759 non-null   float64
 6   time           8759 non-null   datetime64[ns]
 7   기온(°C)         8759 non-null   float64
 8   강수량(mm)        8759 non-null   float64
 9   강수량 QC플래그      8759 non-null   float64
 10  풍속(m/s)        8759 non-null   float64
 11  풍향(16방위)       8759 non-null   float64
 12  습도(%)          8759 non-null   float64
 13  증기압(hPa)       8759 non-null   float64
 14  이슬점온도(°C)      8759 non-null   float64
 15  현지기압(hPa)      8759 non-null   float64
 16  해면기압(hPa)      8759 non-null   float64
 17  일조(hr)         8759 non-null   float64
 18  일조 QC플래그       8759 non-null   float64
 19  일사(MJ/m2)      8759 non-null   float64
 20  일사 QC플래그       8759 non-null   float64
 21  적설(cm)         8759 non-null   float64
 22  3시간신적설(cm)     8759 non-null   float64
 23  전운량(10분위)      8759 non-null   float64
 24  중하층운량(10분위)    8759 non-null   float64
 25  최저운고(100m )    8759 non-null   float64
 26  시정(10m)        8759 non-null   float64
 27  현상번호(국내식)      8759 non-null   float64
 28  지면온도(°C)       8759 non-null   float64
 29  5cm 지중온도(°C)   8759 non-null   float64
 30  10cm 지중온도(°C)  8759 non-null   float64
 31  20cm 지중온도(°C)  8759 non-null   float64
 32  30cm 지중온도(°C)  8759 non-null   float64
dtypes: datetime64[ns](1), float64(32)
memory usage: 2.3 MB

In [223]:
df_22.tail()

,SO2,CO,O3,NO2,PM10,PM25,time,기온(°C),강수량(mm),강수량 QC플래그,...,전운량(10분위),중하층운량(10분위),최저운고(100m ),시정(10m),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
2155,0.002,0.4,0.036,0.017,11.0,8.0,2022-03-31 19:00:00,12.3,0.00,9.0,...,6.0,1.0,9.0,2000.0,18.2,10.0,12.6,11.8,11.0,10.2
2156,0.002,0.4,0.032,0.018,10.0,7.0,2022-03-31 20:00:00,11.6,0.00,9.0,...,6.0,0.0,11.2,2000.0,19.0,8.9,12.2,11.6,11.0,10.3
2157,0.003,0.3,0.038,0.013,11.0,5.0,2022-03-31 21:00:00,10.5,0.00,9.0,...,1.0,1.0,10.0,2000.0,19.0,7.8,11.8,11.4,11.0,10.4
2158,0.003,0.3,0.036,0.015,11.0,5.0,2022-03-31 22:00:00,9.3,0.24,9.0,...,3.0,3.0,10.0,2000.0,1.0,7.3,11.4,11.1,10.9,10.5
2159,0.002,0.4,0.033,0.017,9.0,5.0,2022-03-31 23:00:00,8.4,0.00,9.0,...,1.0,1.0,10.0,2000.0,11.6,6.7,11.0,10.8,10.8,10.5

In [275]:
df_21.isna().sum()

SO2              0
CO               0
O3               0
NO2              0
PM10             0
PM25             0
time             0
기온(°C)           0
강수량(mm)          0
강수량 QC플래그        0
풍속(m/s)          0
풍향(16방위)         0
습도(%)            0
증기압(hPa)         0
이슬점온도(°C)        0
현지기압(hPa)        0
해면기압(hPa)        0
일조(hr)           0
일조 QC플래그         0
일사(MJ/m2)        0
일사 QC플래그         0
적설(cm)           0
3시간신적설(cm)       0
전운량(10분위)        0
중하층운량(10분위)      0
최저운고(100m )      0
시정(10m)          0
현상번호(국내식)        0
지면온도(°C)         0
5cm 지중온도(°C)     0
10cm 지중온도(°C)    0
20cm 지중온도(°C)    0
30cm 지중온도(°C)    0
dtype: int64

In [276]:
df_22.isna().sum()

SO2              0
CO               0
O3               0
NO2              0
PM10             0
PM25             0
time             0
기온(°C)           0
강수량(mm)          0
강수량 QC플래그        0
풍속(m/s)          0
풍향(16방위)         0
습도(%)            0
증기압(hPa)         0
이슬점온도(°C)        0
현지기압(hPa)        0
해면기압(hPa)        0
일조(hr)           0
일조 QC플래그         0
일사(MJ/m2)        0
일사 QC플래그         0
적설(cm)           0
3시간신적설(cm)       0
전운량(10분위)        0
중하층운량(10분위)      0
최저운고(100m )      0
시정(10m)          0
현상번호(국내식)        0
지면온도(°C)         0
5cm 지중온도(°C)     0
10cm 지중온도(°C)    0
20cm 지중온도(°C)    0
30cm 지중온도(°C)    0
dtype: int64

#### [실습문제6] 사용하지 않을 변수 제거
* 머신러닝에 사용하지 않을 변수들을 제거해줍니다.

In [277]:
use_cols = ['time','SO2','CO','O3','NO2','PM10','PM25','기온(°C)','강수량(mm)','풍속(m/s)','습도(%)']
df_21 = df_21[use_cols]
df_22 = df_22[use_cols]

In [278]:
df_21 = df_21.set_index('time').sort_index()
df_22 = df_22.set_index('time').sort_index()

In [279]:
df_22.isna().sum()

SO2        0
CO         0
O3         0
NO2        0
PM10       0
PM25       0
기온(°C)     0
강수량(mm)    0
풍속(m/s)    0
습도(%)      0
dtype: int64

In [240]:
#참조
df_21['강수량(mm)'] = df_21['강수량(mm)'].fillna(0)
df_22['강수량(mm)'] = df_22['강수량(mm)'].fillna(0)

In [280]:
# 월/일/시 로 쪼개기(년은 필요 없음)
df_21['month'] = df_21.index.month
df_21['day'] = df_21.index.day
df_21['hour'] = df_21.index.hour

df_22['month'] = df_22.index.month
df_22['day'] = df_22.index.day
df_22['hour'] = df_22.index.hour

In [281]:
df_21.tail()

,SO2,CO,O3,NO2,PM10,PM25,기온(°C),강수량(mm),풍속(m/s),습도(%),month,day,hour
time,,,,,,,,,,,,,
2021-12-31 19:00:00,0.003,0.4,0.025,0.020,26.0,8.0,-6.4,0.0,2.2,34.0,12,31,19
2021-12-31 20:00:00,0.003,0.4,0.030,0.014,27.0,9.0,-6.3,0.0,4.1,35.0,12,31,20
2021-12-31 21:00:00,0.003,0.4,0.033,0.011,20.0,8.0,-6.7,0.0,4.8,36.0,12,31,21
2021-12-31 22:00:00,0.003,0.4,0.029,0.015,20.0,9.0,-7.5,0.0,3.0,37.0,12,31,22
2021-12-31 23:00:00,0.003,0.4,0.026,0.016,20.0,9.0,-7.7,0.0,2.9,38.0,12,31,23

#### [실습문제7] 미세먼지 농도 다음시점 데이터 생성

* t+1 시점 데이터 생성

In [282]:
# 아래에 실습코드를 작성하고 결과를 확인합니다

# 전일 같은 시간 변수 추가
df_21['PM10_lag1'] = df_21['PM10'].shift(24)
df_22['PM10_lag1'] = df_22['PM10'].shift(24)

In [284]:
df_21.head()

,SO2,CO,O3,NO2,PM10,PM25,기온(°C),강수량(mm),풍속(m/s),습도(%),month,day,hour,PM10_lag1
time,,,,,,,,,,,,,,
2021-01-01 01:00:00,0.002,0.6,0.018,0.020,25.0,14.0,-8.7,0.0,2.4,68.0,1,1,1,NaN
2021-01-01 02:00:00,0.002,0.6,0.013,0.025,27.0,16.0,-9.1,0.0,1.6,69.0,1,1,2,NaN
2021-01-01 03:00:00,0.003,0.6,0.011,0.027,23.0,13.0,-9.3,0.0,1.1,70.0,1,1,3,NaN
2021-01-01 04:00:00,0.003,0.6,0.008,0.032,24.0,14.0,-9.3,0.0,0.3,71.0,1,1,4,NaN
2021-01-01 05:00:00,0.002,0.7,0.003,0.037,26.0,16.0,-9.7,0.0,1.9,72.0,1,1,5,NaN

#### [실습문제7] 미세먼지 농도 다음시점 데이터 생성

* t+1 시점 데이터 생성

In [285]:
# 아래에 실습코드를 작성하고 결과를 확인합니다

df_21['PM10_1'] = df_21['PM10'].shift(-1)
df_22['PM10_1'] = df_22['PM10'].shift(-1)

In [286]:
df_21.head()

,SO2,CO,O3,NO2,PM10,PM25,기온(°C),강수량(mm),풍속(m/s),습도(%),month,day,hour,PM10_lag1,PM10_1
time,,,,,,,,,,,,,,,
2021-01-01 01:00:00,0.002,0.6,0.018,0.020,25.0,14.0,-8.7,0.0,2.4,68.0,1,1,1,NaN,27.0
2021-01-01 02:00:00,0.002,0.6,0.013,0.025,27.0,16.0,-9.1,0.0,1.6,69.0,1,1,2,NaN,23.0
2021-01-01 03:00:00,0.003,0.6,0.011,0.027,23.0,13.0,-9.3,0.0,1.1,70.0,1,1,3,NaN,24.0
2021-01-01 04:00:00,0.003,0.6,0.008,0.032,24.0,14.0,-9.3,0.0,0.3,71.0,1,1,4,NaN,26.0
2021-01-01 05:00:00,0.002,0.7,0.003,0.037,26.0,16.0,-9.7,0.0,1.9,72.0,1,1,5,NaN,27.0

In [298]:
# 아래에 실습코드를 작성하고 결과를 확인합니다
df_21.dropna(inplace=True)
df_22.dropna(inplace=True)

---

# 3. train / test split

#### [실습문제7] 데이터셋 나누기 

* 데이터셋을 train(21년도 데이터), test(22년도 데이터)로 나눠 csv로 저장하도록 하겠습니다.


* train_x / train_y / test_x / test_y 로 나누세요.


* train_x.csv / train_y.csv / test_x.csv / test_y.csv 로 저장하세요.

In [300]:
target = 'PM10_1'
train_x = df_21.drop(target,axis=1)
train_y = df_21[target]
test_x = df_22.drop(target,axis=1)
test_y = df_22[target]

In [301]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
train_x.to_csv('train_x.csv',index=False)
train_y.to_csv('train_y.csv',index=False)
test_x.to_csv('test_x.csv',index=False)
test_y.to_csv('test_y.csv',index=False)

In [302]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

df_22.isna().sum()

SO2          0
CO           0
O3           0
NO2          0
PM10         0
PM25         0
기온(°C)       0
강수량(mm)      0
풍속(m/s)      0
습도(%)        0
month        0
day          0
hour         0
PM10_lag1    0
PM10_1       0
dtype: int64

---