In [7]:
df1 = {'x1':['A','B','C'],
       'x2':[1, 2, 3]
       }
df2 = {'x1':['A','B','D'],
       'x3':['T', 'F', 'T']
       }

adf = pd.DataFrame(df1)
bdf = pd.DataFrame(df2)

In [8]:
test1 = pd.merge(adf, bdf, how='left', on='x1')
test1

  x1  x2   x3
0  A   1    T
1  B   2    F
2  C   3  NaN

In [3]:
# print(type(test1.loc[ 1 , 'x3'] ))
# print(type(test1.loc[ 2 , 'x3'] ))

In [9]:
test2 = pd.merge(adf, bdf, how='right', on='x1')
test2

  x1   x2 x3
0  A  1.0  T
1  B  2.0  F
2  D  NaN  T

In [ ]:
# print(type(test2.loc[ 1 , 'x2'] ))
# print(type(test2.loc[ 2 , 'x2'] ))

---

In [10]:
test3 = pd.concat([adf, bdf], axis=1)

test3

  x1  x2 x1 x3
0  A   1  A  T
1  B   2  B  F
2  C   3  D  T

In [6]:
test4 = pd.concat([adf, bdf], axis=0)

test4

  x1   x2   x3
0  A  1.0  NaN
1  B  2.0  NaN
2  C  3.0  NaN
0  A  NaN    T
1  B  NaN    F
2  D  NaN    T