# 00. 파이썬기초 복습

1) range()를 사용하여, 100이하의 수 중, 7의 배수를 리스트 a 에 담으시오.

In [41]:
a=list(range(7,101,7))
a

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

2) a에서 인덱스 4~ 7까지 조회하시오.

In [42]:
a[4:8]

[35, 42, 49, 56]

3) a에서, 끝에서 세번째 값을 조회하시오.

In [43]:
a[-3]

84

4) a에 데이터 갯수(길이)는?

In [44]:
len(a)

14

5) a 값들의 합과 평균을 구하시오.

In [56]:
print(sum(a))
print(sum(a)/len(a))

TypeError: 'int' object is not callable

6) 반복문을 이용하여 100이하의 소수(prime number)를 리스트에 담아 봅시다.
* 소수(prime number) : 약수가 오직 1과 자기자신 만 존재하는 수.

In [57]:
prime=[]
for n in range(2,101):
    flag=0
    for i in range(2,n):
        if n%i==0:
            flag=1
            break
    if flag==0:
        prime.append(n)
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

7) 아래 값으로 딕셔너리 d를 생성해 봅시다.

|key | value|
|----|----|
|v1 | [1,2,3]|
|v2 | {'a':23, 'b':[4,5]}|

In [16]:
d={'v1':[1,2,3],'v2':{'a':23,'b':[4,5]}}
d

{'v1': [1, 2, 3], 'v2': {'a': 23, 'b': [4, 5]}}

8) d에서 [1,2,3]을 출력해 봅시다.

In [29]:
d['v1']

[1, 2, 3]

9) d에서 23을 출력해 봅시다.

In [30]:
d['v2']['a']

23

10) d에서 5를 출력해봅시다.

In [31]:
d['v2']['b'][1]

5

11) d에 key 'newKey' , value (1,2) 를 추가하고 출력해봅시다.

In [40]:
d['newKey']=(1,2)
print(d)

{'v1': [1, 2, 3], 'v2': {'a': 23, 'b': [4, 5]}, 'newKey': (1, 2)}